@author : martin mandina;
body{background-color: #feffca;
font-family: sans-serif;
font: tahoma,verdana, arial;
}
#pageheading{
  width:70%;
  border: 15px solid green;
  padding 50px;
  margin: 20px;
  background-color: #feffca;
}
#image{
  width:70%;
  border: 15px solid green;
  padding 50px;
  margin: 20px;
  background-color: green;
}
#projects{
  width:70%;
  border: 15px solid green;
  padding 50px;
  margin: 20px;
  background-color: #feffca;
}
#aboutme{
  width:70%;
  border: 15px solid green;
  padding 50px;
  margin: 20px;
  background-color: #feffca;
}
#copyright{
  width:70%;
  border: 15px solid green;
  padding 50px;
  margin: 20px;
  background-color: #feffca;
}
