@author : martin mandina;
body{background-color: #fff;
font-family: sans-serif;
font: tahoma,verdana, arial;
align-content: center;
margin: 0 auto;
}
h1{
  text-shadow: 2px 2px rgb(211, 211, 202);
}
h2{
  text-shadow: 2px 2px rgb(56, 55, 55);
}
#pageheading{
  width:70%;
  border: 5px solid #ffffcc;
  padding 50px;
  //background-color: #ccffcc;
  margin: 0 auto;
  color: #003300;
}
/*
#image{
  /*width:50%;*/
/*  border: 5px solid #ffffcc;
  padding 50px;

  margin: 0 auto;
}*/
#projects{

  /* border: 5px solid   #e6e600; */
  padding 50px;

  margin: 0 auto;
}
#aboutme{

  /* border: 5px solid #e6e600; */
  padding 50px;
 /* background-color: #e7e7e0; */
  margin: 0 auto;
}
#copyright{
  width:100%;
  padding 50px;
  margin: 20px;
 /* background-color: #feffca;*/
  float: right;
}
